.idea*
*.pyc
log/*
backup.pid
.DS_Store
ucloud-sdk-python/*.log
ucloud-sdk-python/*.DS_Store
ucloud-sdk-python/*~
ucloud-sdk-python/*.swp
ucloud-sdk-python/core.*
ucloud-sdk-python/.build
ucloud-sdk-python/*.pyc
ucloud-sdk-python/*.bak
ucloud-sdk-python/*.out
ucloud-sdk-python/config.py
