nc-backup-py/conf/Examples/conf.json
*.pyc
tmp/
*.tmp
.idea
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/nc-backup-py.iml
.idea/preferred-vcs.xml
.idea/workspace.xml
conf/
nc_backup_py.egg-info/
