{
  "GENERAL": {
    "HOSTNAME": "srv-nc-template-host-config",
    "WORK_FOLDER": "/opt/backup",
    "HOME_FOLDER": "/var/lib/nc-backup-py/",
    "LOG_FOLDER": "/var/log/nc-backup-py/nc-backup-py.log",
    "MESSAGE_CONFIG_COMMAND": "https://backupreporter.<Change this to your domain>.com/backup_service.php",
    "MESSAGE_CONFIG_METHOD": "post",
    "__Methods": "post|e-mail|sms|wechat,etc"
  },
  "FILESET": {
    "ACTION": "execute",
    "NAME": "filesbackup",
    "PARAMETERS": {
      "FILESET_INCLUDE": "/etc",
      "FILESET_EXCLUDE": ""
    }
  },
  "COMPRESSION": {
    "ACTION": "execute",
    "NAME": "compression",
    "PARAMETERS": {
      "TARGETS": "/opt/backup/files",
      "DESTINATION":"/opt/backup/compressed",
      "REMOVE_TARGETS": "True"
    }
  },
  "ENCRYPTION": {
    "ACTION": "execute",
    "NAME": "encryption",
    "PARAMETERS": {
      "TARGETS": "/opt/backup/compressed",
      "DESTINATION":"/opt/backup/encrypted",
      "REMOVE_TARGETS": "True"
    }
  },
  "SIZE": {
    "ACTION": "load",
    "FROM": "tools",
    "FILENAME": "size_calculation",
    "CLASS": "SizeCalculation",
    "PARAMETERS": {
      "TARGETS": "/opt/backup/encrypted"
    }
  },
  "STORAGE_S3": {
    "ACTION": "execute",
    "NAME": "storage",
    "PARAMETERS":{
      "DESTINATION":"s3",
      "ACTION": "upload",
      "OBJECTIVES": "/opt/backup/encrypted",
      "ARGS_DICT": "{'BUCKET': 'yourbucket'}",
      "__READTHIS": "Use awscli and configure s3 access keys.",
      "REMOVE_TARGETS": "False"
    }
  },
  "STORAGE_LOCAL": {
    "ACTION": "execute",
    "NAME": "storage",
    "PARAMETERS":{
      "DESTINATION": "local",
      "TARGETS": "/opt/backup/encrypted",
      "ARGS_DICT": "{'LOCAL_BACKUP': '/opt/backup/local'}",
      "__READTHIS": "The above path is where your local backups will be stored.",
      "REMOVE_TARGETS": "True"
    }
  }
}
